
.maincontainer {
    display: flex;
    height: 100vh;
  }
  
  .leftcontainer {
    width: 15vw;
    height: fit-content;
    background-color: #1e1e2d;
    color: white;
  }
  .leftcontainerheader{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 25px;
    border-bottom: 1px dashed #393945;
  }
  .modulelist{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  /* .modules {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 15vw;
    border: 1px solid white;
    margin: 10px;
    border-radius: 20px;
  } */
  
  .modules {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13vw;
    font-size: medium;
    background-color: #1e1e2d;
    color: #9d9da6;
  
  }
  
  .modules-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }
  
  .modules-p:hover {
    border-color: #2c2c42;
    color: white;
  }
  
  .modules-icon {
    margin-right: 13px;
  }
  
  .modules-title {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  
  .dropdown-icon {
    margin-left: 1vw;
  }
  .dropdown-content{
    display: flex;
  }
  
  
  
  .rightcontainer {
    flex: 1;
   
background-color: #f4f6f9;
border-radius: 20px;
width: 18vw;
height: 100vh;
  }
  
  